body {
  font-family: "Avenir Next";
}


ul{
  list-style: none;
}

.he {
  list-style: none;
  /* 以下の2行を削除してください */
  float: left;
  padding: 33px 10px;
}

.header {
  background-color: navy;
  color: #fffff0;
  height: 90px;
  width: 860px;
  float: left;
}

.emptyy{
  height:100px
}

.Qr{
  float: left;
}

.header-logo {
  float: left;
  font-size: 30px;
  padding: 20px 40px;
}

.slider{
  float: left;
}


h1{
  font-size:50px;
}

.copy-container{
  width:860px;
  float: left;
}



.empty{
  height: 200px;
}

.contact-form input, textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  font-size:18px;
  padding:20px;
  border:1px solid #dee7ec;
}

.contact-submit{
  background-color: #dee7ec;
  color:#889eab;
}

.article{
  background-color: whitesmoke;
  width:860px;
}

.contact-form{
  padding-top: 100px;
}

.section-title{
  border-bottom: 2px solid #dcdcdc;
}

h2{
  font-size:20px;

  color: #ACB6E5;
  background: -webkit-linear-gradient(0deg, #ffffe0, #008080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hh{
  color: #ACB6E5;
  background: -webkit-linear-gradient(0deg, #7fffd4, #008080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introduction{
  font-size: 10px;

}

.introduction center{
  font-size:20px;
  font-family:serif;
}



.main-content{
  width:860px;
  margin-left: 10px;
}

.a{
  color:#ff4a4a;
}

.P{
  float: left;
  padding: 20px 10px;
}

.b{
  color:#66cdaa;
}

.AAA{

}

.aa{
  color:gold;
}

.BBB{
  font-family: Courier;
  border-bottom: 1px solid #333;
}

.content{
  position:relative;
  float: left;
  padding-left: 50px;
}


.Pause-L{
  height:150px
}

.footer{
  background-color: #008080;
  color: snow;
  height: 120px;
  bottom: -700px;
}

.footer-logo {
  font-size: 30px;
  padding: 40px 0px;
  float: left;
   font-family: Courier;
}

.fo{
  list-style: none;
  float: right;
  padding: 15px 40px;
}

.CCC{
  color:silver;
}
